.photo-grid {
  margin: 118px 0 0 0;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .photo-grid__items {
    width: calc(100% + 15vw);
    justify-self: center;
  }
}
